@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

body {
  margin: 0;
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--font-color);
}

code {
  font-family: var(--font-mono);
}

p {
  font-size: var(--font-size-normal);
}

h3 {
  font-size: var(--font-size-h3);
}

h2 {
  font-size: var(--font-size-h2);
}

h1 {
  font-size: var(--font-size-h1);
}

:root {
  /* Following the material design system https://material.io/design/color/the-color-system.html */

  --primary-50: #e0eaf2;
  --primary-100: #b3ccdf;
  --primary-200: #80aac9;
  --primary-300: #4d87b3;
  --primary-400: #266ea3;
  --primary-500: #005493;
  --primary-600: #004d8b;
  --primary-700: #004380;
  --primary-800: #003a76;
  --primary-900: #002964;

  --warn-50: #fef5e4;
  --warn-100: #fce6bb;
  --warn-200: #fad58e;
  --warn-300: #f8c460;
  --warn-400: #f7b73e;
  --warn-500: #f5aa1c;
  --warn-600: #f4a319;
  --warn-700: #f29914;
  --warn-800: #f09011;
  --warn-900: #ee7f09;

  --danger-50: #f8e7e5;
  --danger-100: #eec2be;
  --danger-200: #e39a93;
  --danger-300: #d77268;
  --danger-400: #cf5347;
  --danger-500: #c63527;
  --danger-600: #c03023;
  --danger-700: #b9281d;
  --danger-800: #b12217;
  --danger-900: #a4160e;

  --grey-50: #fefefe;
  --grey-100: #d9d9d9;
  --grey-200: #c0c0c0;
  --grey-300: #a6a6a6;
  --grey-400: #939393;
  --grey-500: #808080;
  --grey-600: #787878;
  --grey-700: #6d6d6d;
  --grey-800: #636363;
  --grey-900: #505050;

  --surface: var(--grey-50);
  --border: var(--grey-300);
  --primary: var(--primary-500);
  --danger: var(--danger-700);

  --font-color: var(--grey-900);
  --font-color-light: var(--grey-700);

  --font-sans: "Open Sans", "Helvetica Neue", -apple-system, sans-serif;

  --font-mono: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;

  --space-3x-small: 2px;
  --space-2x-small: 4px;
  --space-x-small: 8px;
  --space-small: 12px;
  --space-med: 16px;
  --space-large: 16px;
  --space-x-large: 20px;
  --space-2x-large: 24px;
  --space-3x-large: 32px;
  --space-4x-large: 48px;
  --space-5x-large: 64px;

  --font-size-h1: 36px;
  --font-size-h2: 24px;
  --font-size-h3: 20px;
  --font-size-normal: 14px;
  --font-size-label: 11px;
}
